<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.concurrency.dao.CheckoutMapper">
    <insert id="insert" parameterType="com.my.concurrency.models.Checkout">
        <selectKey order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID();
        </selectKey>
        insert into checkouts (id, name, started_time,
        finished_time, num_of_checked_customers,
        num_of_checked_items)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{startedTime,jdbcType=TIMESTAMP},
        #{finishedTime,jdbcType=TIMESTAMP}, #{numOfCheckedCustomers,jdbcType=INTEGER},
        #{numOfCheckedItems,jdbcType=INTEGER})
    </insert>
</mapper>